<!-- your html code here -->
<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <div class = "row">
            <div class = "col-8">
                <h1 class="h1">This First Heading <a href="#" class="text-secondary" style = "text-decoration:none;">Will Catch Your Eye</a></h1>
                <p class="lead">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
            </div>
            <div class = "col-4">
                <img class="rounded-circle img-responsive" height="375" width="375" src="../website1/assets/img/1.jpg"></img>
            </div>
        </div>
    </div>
</div>