<!-- your html code here -->
<div class="container-flex bg-white px-4 py-4">
	<h3>Portfolio</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
		magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	</p>

	<div>

		<div class="card-deck">
			<div class="card">
				<img class="card-img-top" src="http://placehold.it/750x500" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title text-primary">Project name</h5>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div>
			</div>
            <div class="card">
				<img class="card-img-top" src="http://placehold.it/750x500" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title text-primary">Project name</h5>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div>
			</div>
            <div class="card">
				<img class="card-img-top" src="http://placehold.it/750x500" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title text-primary">Project name</h5>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div>
			</div>


		</div>

	</div>


</div>